html {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, helvetica, sans;
}

body {
  margin: 0;
}

.releases {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.releases select {
  margin-left: auto;
  font-size: 1.25rem;
}

#cards {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  flex-basis: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

#cards.loading:after {
  content: "Loading Releases…";
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 0 10px;
  display: inline-block;
  background: #eee;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

/*
 * Add Styles for Release Items below according to the mockup
 */
@import "styles.scss";
